.header {
  min-width: 375px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include vp-768 {
    flex-wrap: nowrap;
  }
}

.header__logo {
  flex-shrink: 0;
}

.header__search {
  order: 1;
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    top: 0;
    right: -20px;
    left: -20px;
    content: "";
    border-top: 1px solid #bbc4d6;
  }

  @include vp-768 {
    order: initial;
    width: initial;
    flex-grow: 1;
    margin: 0 50px;
    border: 0;

    &::before {
      content: initial;
    }
  }

  @include vp-1280 {
    margin: 0 60px;
  }
}

.header__user {
  flex-shrink: 0;
}
